@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #1F4E79;
  --color-accent: #2EA44F;
}

html,body,#root{height:100%;}
body{background:white;color:#111;font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,'Helvetica Neue',Arial}
